<div *ngIf="modal_open_buy;" class="modal_overlay backtest_modal">
  <div class="modal" style="max-width:700px;">
    <div class="close_modal" (click)="ModalClose()">
      <i class="ion ion-close"></i>
    </div>
    <div class="modal_title">
      <h1>Buy</h1>
    </div>
    <div class="modal_body custom_scroll" style="margin-top:20px;">
      <h4>Please send {{seller_amount}} NIO to below address from your regisetered Etherium Address and click "I Paid".</h4>
      <div class="price_box">
        <h3 style="margin-bottom:15px;">Address =>
          <b>{{seller_address}}</b>
        </h3>
        <h3>Amount =>
          <b>{{seller_amount}} NIO</b>
        </h3>
      </div>
      <div class="btn_group">
        <button class="btn green" (click)="CheckPayment()">I Paid</button>
        <button class="btn red" (click)="ModalClose()">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="advice" class="container-body" [ngStyle]="blurCss">
  <div class="page-title">
    <h1>Trading Advice</h1>
    <h5>Take Advice from leaders of Autonio</h5>
  </div>
  <div class="navbar">
    <a (click)="router.navigateByUrl('/buying_advice')">Buying</a>
    /
    <a (click)="router.navigateByUrl('/selling_advice')">Selling</a>
  </div>
  <div class="page-body custom_scroll">  
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Profit(%)</th>
          <th>Constultancy Fees</th>
          <th>Consult</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let advice of advices">
          <td>{{advice.sname}}</td>
          <td>{{advice.total_profit}} %</td>
          <td>{{advice.price}} USD</td>
          <td>
            <button class="btn" (click)="BuyAdviceModal(advice.id, advice.username, advice.price)">Consult</button>
          </td>
          <td>{{advice.time}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
