<div id="settings" class="container-body custom_scroll" style="height:100vh;">
  <div class="page-title">
    <h1>{{'menu6'|translate}}</h1>
  </div>
  <div class="page-body">
    <div class="user_detail">
      <div class="user_info">
        <div class="name" style="margin-bottom:15px;">
          {{autonio_token.username}}
        </div>
        <button class="btn red" type="button" (click)="logout()" name="button">{{'signout'|translate}}</button>
      </div>
    </div>
  </div>
  <div class="inner-title">
    <h2>{{'mngapi'|translate}}</h2>
  </div>
  <div class="add_keys">
    <div class="frm_group data1">
      <label>{{'selexc'|translate}}</label>
      <select (change)='exchange_change(exchange.value)' name="exchange" #exchange required>
        <option value="" selected disabled>-- {{'selct-one'|translate}}--</option>
        <option value="binance">Binance</option>
        <option value="ethfinex">Ethfinex</option>
        <option value="bitfinex">Bitfinex</option>
        <option value="kraken">Kraken</option>
        <option value="kucoin">KuCoin</option>
        <option value="okex">Okex</option>
        <option value="bittrex">Bittrex</option>
        <option value="bitstamp">Bitstamp</option>
        <!-- <option value="quadrigacx">QuadrigaCX</option> -->
      </select>
    </div>
    <hr class="divider">
    <div class="add_keys_form">
      <div class="frm_group">
        <label>{{'apikey'|translate}}</label>
        <input type="text" style="max-width: 500px;" name="api" ngModel #api>
      </div>
      <div class="frm_group">
        <label>{{'seckey'|translate}}</label>
        <input type="text" style="max-width: 500px;" name="secret" ngModel #secret>
      </div>
      <div class="frm_group" *ngIf="exchange.value=='kucoin'"  >
        <label >Passphrase</label>
        <input type="text" style="max-width: 500px;" name="pass1" ngModel #passa>
      </div>
      <div class="frm_group">
        <input *ngIf="exchange.value!='kucoin'  " type="submit" name="add_key" (click)="Addkeys(exchange.value,api.value,secret.value)" value="{{'updkey'|translate}}">
        <input *ngIf="exchange.value=='kucoin' " type="submit" name="add_key1" (click)="Addkeys1()" value="{{'updkey'|translate}}">
      </div>
    </div>
  </div>
  <div class="feedback">
    <div class="left_side custom_scroll">
      <div class="frm_group data1">
       <a href="https://app.smartsheet.com/b/form/3bc3a02139cd40c58ec8da55099f462e" target="_blank" style="width: 222px;">
        <input type="text" class="check_my_algo" value="{{'submitfeedback'|translate}}"  required="required" readonly>
      </a>
      </div>
    </div>
    <div class="middle custom_scroll">
      <div class="frm_group data1">
        <a href="https://app.smartsheet.com/b/form/8db11eb0b8e04e32b9022fab89a1c638" target="_blank" style="width: 222px;">
        <input type="text" class="check_my_funds" value="{{'submitenhreq'|translate}}" required="required" style="padding-right:2px;padding-left:3px;width:231px;" readonly>
        </a>
      </div>
    </div>
    <div class="right_side custom_scroll" style="margin-left:-269px;">
      <div class="frm_group data1">
        <input type="text" class="check_my_funds" value="{{'checkupdate'|translate}}" (click)="checkUpdate()" required="required" style="" readonly>
      </div>
    </div>
  </div>

</div>
