.container-body{
    width: 100vh;
    height:100vh;
}

table{
    width:100%;
    min-width: 400px;
    border-collapse: collapse;
}
table th{
    color: var(--blue-2);
    font-size: 20px;
    text-shadow: 0px 0px 3px var(--blue-2);
    border-bottom: 1px solid var(--blue-1);
}
table th,
table td{
    padding: 15px;
    text-align: center;
}
table tbody tr:hover{
    background: var(--dark-shade-1);
}
.custom_scroll
{
	padding-right: 10px;
  overflow: auto;
}
.custom_scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 2px;
  background-color: rgba(0,0,0,0.05);
}

.custom_scroll::-webkit-scrollbar
{
	width: 3px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.05);
}

.custom_scroll::-webkit-scrollbar-thumb
{
	background-color: var(--blue-2);
  border-radius: 2px;
}
