@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,500,600,700,800,900,900i');


body{
  --blue-1 : #7CE6E4;
  --blue-2 : #00FFFF;
  --blue-3 : #1d514b;
  /*--blue-3 : #00E220;*/
  --dark-shade-1 : #112128;
  --dark-shade-2 : #091212;
  /*--blue-yellow : #64FF00;*/
  /*--primary : #666666;
  --secondary : #E6E6E6;*/
}
body, body *{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
body{
  position: relative;
}
