body{
  background: var(--dark-shade-2);
  overflow: hidden;
}

/*Preloader*/
.preloader{
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 9999999;
  background: linear-gradient(45deg,#1d514b,var(--blue-2));
}
.preloader .preloader-body{
  position: fixed;
  width: 200px;
  overflow: hidden;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.preloader .preloader-body img{
  width: 100%;
}
.preloader .preloader-body .loader-text{
  font-size: 14px;
  margin-top: 40px;
  color: #fff;
  text-align: center;
  font-style: italic;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%{
    opacity: 0.2;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity : 0.2;
  }
}

/*header*/
.header{
  background: var(--blue-2);
  width: 100%;
  height: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  -webkit-app-region: drag;
}
.header .icons{
  height: 100%;
  padding: 0px 7px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s all;
  -webkit-app-region: no-drag;
}
.header .icons:last-child{
  /*margin-right: 15px;*/
}
.header .icons:hover{
  background: rgba(255,255,255,0.99);
}
.header .icons .ion{
  font-size: 13px;
}

/*sidebar*/
.sidebar{
  background: linear-gradient(45deg,#1d514b,var(--blue-2));
  top:0;
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 240px;
}
.sidebar .logo{
  width: 100%;
  overflow: hidden;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sidebar .logo img{
  width: 100px;
}

.sidebar .links{
  margin: 40px 0px;
}
.sidebar .links.bottom{
  margin: 0px;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.sidebar .links a{
  padding: 17px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-right: 6px solid transparent;
  color: #fff;
  transition: 0.2s all;
}
.sidebar .links a.active{
  border-color: #fff;
  background: rgba(0,0,0,0.05);
}
.sidebar .links.bottom a{
  background: rgba(0,0,0,0.1);
}
.sidebar .links.bottom a:hover{
  background: rgba(0,0,0,0.3);
}
.sidebar .links.bottom a .new_tab{
    background: rgba(0,0,0,0.1);
}
.sidebar .links.bottom a .new_tab:hover{
  background: rgba(0,0,0,0.3);
}

.sidebar .links a:hover{
  background: rgba(0,0,0,0.1);
}
.sidebar .links a img{
  margin-right: 20px;
  width: 25px;
}
.sidebar .links a .new_tab{
  margin-left: auto;
  width: 25px;
  filter: invert(1);
  padding: initial;
}

.sidebar .links a .link_text{
  font-size: 13px;
}


.container_loader{
  width: 100%;
    height: 100vh;
    position: absolute;
    padding-left: 240px;
    z-index: 1000;
    background: var(--dark-shade-2);
    display: none;
}
.container_loader .loader{
  top:50%;
  left:60%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.container_loader .loader img{
  width: 100px;
}

/*Main container*/
#login.container{
  padding-left: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 30px;
  background: linear-gradient(45deg,#1d514b,var(--blue-2));
  color: #302c2d;
}

#login.container .card{
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 15px 30px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login.container .logo{
  width: 125px;
  overflow: hidden;
}
#login.container .logo img{
  width: 100%;
}
#login.container hr{
  border: none;
  border-bottom:1px solid rgba(92,196,239,0.2);
  width: 100%;
  margin: 20px 0px;
}
#login.container .title{
  font-size: 25px;
  margin-bottom: 20px;
}
#login.container .social_login{
  display: flex;
}
#login.container .social_login button{
  cursor: pointer;
  border:none;
  text-decoration: none;
  background: var(--blue-2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  outline:none;
  justify-content: center;
  align-items: center;
      transition: 0.4s all cubic-bezier(0.69, -0.99, 0.38, 2.12);
}
#login.container .social_login button:hover{
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
#login.container .social_login .facebook{
  background-color: #3b5998;
}
#login.container .social_login .google{
  background-color: #db3236;
}
#login.container .social_login .twitter{
  background-color: #00aced;
}
#login.container .social_login button .ion{
  font-size: 25px;
  color: #fff;
}
#login.container .social_login button:not(:last-child){
  margin-right: 30px;
}
#login.container .or{
  display: flex;
  align-items: center;
  margin:20px 0px;
  width: 100%;
}
#login.container .or span{
  flex:1;
  height: 1px;
  display: block;
  background: rgba(92,196,239,0.2);
}
#login.container .or .txt{
  font-size: 15px;
  font-style: italic;
  margin: 15px;
}

#login.container form{
  width: 100%;
}
#login.container form input{
  width: 100%;
  padding: 10px;
  border: none;
  outline:none;
  border:2px solid rgba(92,196,239,0.2);
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 4px;
  transition: 0.3s all;
}
#login.container form input:focus{
  border-color: var(--blue-1);
  box-shadow: 0px 0px 4px var(--blue-2);
}
#login.container form input.error{
  border-color: red;
  box-shadow: 0px 0px 4px red;
}
#login.container form input[type="submit"]{
  background: #1d514b;
  /* width:48%; if have to integrate signup feature together */
  width: 100%;
  /* display: flex; */
  text-align: center;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-bottom: 0px;
}
#login.container .btn{
  margin-left: 184px;
  margin-top: -44px;
}
#login.container form input[type="button"]{
  background: #1d514b;
  width:48%;
  border: none;
  text-align: center;

  /* display: flex; */
  float:right;
  cursor: pointer;
  color: #fff;
  margin-bottom: 0px;
}
#login.container form input[type="submit"].disabled{
  opacity: 0.4;
  cursor: not-allowed;
}
#login form .error-msg{
  margin-bottom: 20px;
  display: block;
  background: lightpink;
  padding: 5px 10px;
  border: 1px solid red;
  font-size: 12px;
  border-radius: 3px;
}



.container{
  padding-left: 240px;
  color: #fff;
  /*margin-top: 20px;*/
  height: 100vh;
}
.container .actual_chart{
  height: 300px;
  overflow: hidden;
  position: relative;
  /*padding: 30px;*/
}
.container .actual_chart .chart_preloader{
  width: 100%;
  height: 100%;
  background: var(--dark-shade-2);
  position: absolute;
  top: 0;
  z-index:9999;
  display: none;
}
.container .actual_chart .chart_preloader .loader{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 50px;
  overflow: hidden;
}
.container .actual_chart .chart_preloader .loader img{
  width: 100%;
}
.container #chart{
  width: 100%;
  height: 100%;
}
.container .container-body{
  padding: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.container .container-body .page-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.container .container-body .page-title h1{
  font-size: 30px;
}




.result{
  display: flex;
  font-size: 12px;
  position: relative;
}
.result .result_preloader{
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
  background-color: var(--dark-shade-2);
  z-index: 999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.result .result_preloader img{
  height: 100%;
  display: none;
}
.result .section{
  margin-right: 30px;
}
.result .section .item{
  margin-bottom: 5px;
  position: relative;
}
.result .section .amount{
  font-size: 14px;
  position: relative;
  font-weight: bold;
  color: var(--blue-2);
}
.result .section img{
  width: 20px;
  height: 20px;
  position: absolute;
  top:-3px;
  display: none;
}
.result .section .amount.red{
  color: #ff1d1d;
}
.result .section .amount.green{
  color: #19ff00;
}





.container .container-body .page-body form{
  display: flex;
  padding: 10px 0px;
}
.container .container-body .page-body form > div{
  overflow: auto;
  height: calc(100vh - 394px);
  /* to adjust the component in live trade comp */
  /* height: calc(100vh - 464px); */

}
.container .container-body .page-body form > div:not(:last-child){
  margin-right: 20px;
}
.container .container-body .page-body .left_side{
  flex:1;
}
.container .container-body .page-body .middle{
  flex: 2;
}
.container .container-body .page-body .right_side{
  flex:1;
}
.container .container-body .page-body .middle .frm_group  a img{
  width: 14px;
  display: inline;
  margin-left:5px;
  margin-bottom: 1px;
  cursor: pointer;
  position:relative;
}
.container .container-body .page-body .right_side .frm_group  a img{
  width: 16px;
  display: inline;
  margin-left:5px;
  margin-bottom: -4px;
  cursor: pointer;
  position:relative;
}
/* for hover in i icon on start balnc
.container .container-body .page-body .right_side .frm_group a div {
  display:none;
  position:inherit;
  font-size: 10px;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-width: 0px;
  border-style: solid;
  border-color: transparent
  padding: .5em;
}

.container .container-body .page-body .right_side .frm_group a img:hover+div {
  display: inline;

} */

.container .frm_group{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.container .frm_group > label{
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 4px;
  margin-left: 2px;
}
.container .date-grp{
  display: flex;
  align-items: center;
}
.container .frm_group  input:not([type="checkbox"]),
.container .date-grp  input,
.container .frm_group  select{
  border: none;
  outline: none;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 7px ;
  width: 100%;
  max-width: 220px;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: 0.3s all;
}
.container .frm_group  input:not([type="checkbox"]):focus,
.container .date-grp  input:focus,
.container .frm_group  select:focus{
  border-color: var(--blue-2);
  box-shadow: 0px 0px 3px var(--blue-2);
}
ngx-select-dropdown,
.ngx-dropdown-button{
  background-color: rgba(0,0,0,0.8) !important;
  color: #fff !important;
  max-width: 220px;
  border: 2px solid transparent !important;
}
ngx-select-dropdown:focus,
.ngx-dropdown-button:focus{
  border-color: var(--blue-2) !important;
  box-shadow: 0px 0px 3px var(--blue-2) !important;
}
.ngx-dropdown-list-container,
.ngx-dropdown-list-container ul li{
  background-color: rgba(0,0,0,0.8) !important;
  color:white !important;
  font-size: 14px !important;
}
/* .ngx-dropdown-list-container ul li{
  color:white !important;
} */
/* .ngx-dropdown-list-container::-webkit-scrollbar
{
	width: 3px;
  border-radius: 2px;
  border-color: var(--blue-2);
  background-color: rgba(0,0,0,0.05);

} */
/* .ngx-dropdown-list-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 2px;
  background-color: rgba(0,0,0,0.05);
} */

.container .checkbox_special{
  flex-direction: row;
  align-items: center;
}
.container .checkbox_special label{
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
  text-transform: none;
  letter-spacing: 0;
  font-weight: normal;
  margin-bottom: 0px;
}
.container form .checkbox_group{
  flex-direction: row;
  align-items: center;
}
.container form .checkbox_group .toggler{
  margin-right: 10px;
}
.container form .checkbox_group label{
  font-size: 14px;
  text-transform: none !important;
  font-weight: lighter;
  cursor: pointer;
}
.container form .frm_inner_group:not(:last-child){
  margin-bottom: 25px;
}
.container form .frm_inner_group .parameters{
  display: flex;
  flex-wrap: wrap;
}
.container form .frm_inner_group .parameters .frm_group{
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 15px;
}
.container form .frm_inner_group .parameters .frm_group input{
  width: 100px;
}
.container form .frm_inner_group .parameters .frm_group label{
  font-size: 9px;
  font-weight: lighter;
}
.container .frm_group input[type="submit"]{
  background: var(--blue-2);
  cursor: pointer;
  color: var(--dark-shade-1);
  font-weight: bold;
  padding: 10px;
  transition: 0.2s all;
}
.container .frm_group input.stop_trade{
  background: red;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  transition: 0.2s all;
}
.container .frm_group input.stp_trade{
  background: red;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  transition: 0.2s all;
}
.container .frm_group input.reset_test{
  background: red;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  transition: 0.2s all;
}
.container .frm_group input.check_my_funds{
  /* background: ; */
  cursor: pointer;
  text-align: center;
  color:  #fff;
  font-weight: bold;
  border: 1px solid green;
  padding: 10px;
  transition: 0.2s all;
}
.container .frm_group input.check_my_algo{
  /* background: ; */
  cursor: pointer;
  text-align: center;
  color:  #fff;
  font-weight: bold;
  border: 1px solid green;
  padding: 10px;
  transition: 0.2s all;
}
.container .frm_group input.check_my_algo1{
  /* background: ; */
  cursor: pointer;
  text-align: center;
  color:  #fff;
  font-weight: bold;
  border: 1px solid green;
  padding: 10px;
  transition: 0.2s all;
}
.container .frm_group input.start_trade{
  background: lime;
  cursor: pointer;
  color: var(--dark-shade-2);
  font-weight: bold;
  padding: 10px;
  transition: 0.2s all;
}
.container .frm_group input[type="submit"]:hover{
  box-shadow: 0px 0px 10px var(--blue-2);
}
.container .frm_group input.stop_trade:hover{
  box-shadow: 0px 0px 10px red;
}
.container .frm_group input.start_trade:hover{
  box-shadow: 0px 0px 10px lime;
}


/*Settings Page*/
#settings .page-title{
  margin-bottom: 40px;
}
.container .container-body .page-body .user_detail{
  display: flex;
  align-items: center;
}
.container .container-body .feedback{
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.container .container-body .left_side{
  flex:1;
}
.container .container-body .middle{
  flex: 2;
}
.container .container-body .right_side{
  flex: 2;
}
.container .user_detail .user_img{
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-right: 20px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px 2px var(--blue-2);
  border-radius: 50%;
}
.container .user_detail .user_img img{
  width: 100%;
  height: 100%;
}
.container .user_detail .user_info .name{
  font-size: 25px;
}
.container .user_detail .user_info .email{
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--blue-1);
}
.container .container-body .inner-title{
  margin: 50px 0px 20px 0px;
}
.container hr.divider{
  border: none;
  border-bottom: 1px solid #fff;
  margin: 30px 0px;
}
.container .add_keys_form{
  display: none;
}
.container .add_keys input{
  max-width: 600px;
}

.btn{
  padding: 10px 20px;
  color: #fff;
  border: none;
  background: rgb(0, 119, 255);
  border-radius: 3px;
  outline:none;
  cursor: pointer;
  transition: 0.3s all cubic-bezier(0.69, -0.99, 0.38, 2.12);
}
.btn.red{
  background: #d40000;
}
.btn.green{
  background:lime;
  color: var(--dark-shade-2);
}
.btn:hover{
  box-shadow: 0px 0px 10px blue;
  transform: scale(1.05);
}
.btn.red:hover{
  box-shadow: 0px 0px 10px #d40000;
}
.btn.green:hover{
  box-shadow: 0px 0px 10px lime;
}


.toggler input[type="checkbox"]{
  display: none;
}
.toggler input[type="checkbox"] + label{
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid rgba(255,255,255,0.2);
  position: relative;
  cursor: pointer;
  transition: 0.3s all;
}
.toggler input[type="checkbox"] + label:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  left:5px;
  transition: all 0.3s cubic-bezier(0.58, -0.12, 0.65, 1.49);
}
.toggler input[type="checkbox"]:checked + label{
  border-color: var(--blue-1);
  background: rgba(255,255,255,0.1);
  box-shadow: 0px 0px 1px var(--blue-2), inset 0px 0px 7px var(--blue-2);
  /*box-shadow: inset 0px 0px 15px 15px var(--blue-1);*/
}
.toggler input[type="checkbox"]:checked + label:before{
  left: calc(100% - 25px);
  background: var(--blue-1);
  box-shadow: 0px 0px 10px var(--blue-2);
}

.custom_scroll
{
	padding-right: 10px;
  overflow: auto;
}
.custom_scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 2px;
  background-color: rgba(0,0,0,0.05);
}

.custom_scroll::-webkit-scrollbar
{
	width: 3px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.05);
}

.custom_scroll::-webkit-scrollbar-thumb
{
	background-color: var(--blue-2);
  border-radius: 2px;
}
