<!-- preloader -->
<!-- <div class="preloader">
  <div class="preloader-body">
    <img src="./assets/img/logo-white.png" alt="">
    <div class="loader-text">Loading....</div>
  </div>
</div> -->

<!-- Cyan Header -->
<!-- <div class="header">
  <span class="icons" title="Minimize" id="minimize_btn">
    <i class="ion ion-minus"></i>
  </span>
  <span class="icons" title="Maximize" id="max_btn">
    <i class="ion ion-plus"></i>
  </span>
  <span class="icons" title="Quit" id="close_btn">
    <i class="ion ion-close"></i>
  </span>
</div> -->

<!-- Sidebar menu -->
<div class="sidebar">
  <div class="online_light" [ngClass]="{red: online==false}" title="{{status}}"></div>
  <div class="translate">
      <select class="trans" (change)="switch(lang.value)" name="lang" #lang >
        <option value="en" selected>Eng</option>
        <option value="cn">中文</option>
      </select>
    <div class="logo">
      <img src="./assets/img/logo-white.png" alt="">
    </div>
    <div class="links">
      <a id="live" (click)="onClick($event)" target="_blank" >
        <img src="./assets/img/live-trading.png" alt="">
        <span class="link_text">{{ 'menu1' | translate }}</span>
      </a>
      <a id="backtest" (click)="onClick($event)" class="active">
        <img src="./assets/img/backtest.png" alt="">
        <span class="link_text">{{ 'menu2' | translate }}</span>
      </a>
      <a id="advice" (click)="onClick($event)">
        <img src="./assets/img/advice.png" alt="">
        <span class="link_text">{{ 'menu3' | translate }}</span>
      </a>
      <a id="market" (click)="onClick($event)">
        <img src="./assets/img/marketplace.png" alt="">
        <span class="link_text">{{ 'menu4' | translate }}</span>
      </a>
      <a id="genetic" (click)="onClick($event)">
        <img src="./assets/img/genetic.png" alt="">
        <span class="link_text">{{ 'menu5' | translate }}</span>
      </a>
    </div>
  </div>
  <div class="links bottom">
    <a id="settings" (click)="onClick($event)">
      <img src="./assets/img/settings.png" alt="">
      <span class="link_text">{{ 'menu6' | translate }}</span>
    </a>
  </div>
</div>

<!-- main container -->
<div class="container_loader">
  <div class="loader">
    <img src="./assets/img/loader.gif" alt="">
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
