<div class="container-body">

  <div class="page-title">
    <h1>{{'membertitle'|translate}}</h1>
    <h5>{{'membersubtitle'|translate}}</h5>
  </div>
  <div class="page-body">
    <div class="txt">
      <ul>
        <li>{{'txtli1'|translate}} {{nio_amnt}}{{'txtli1con'|translate}} </li>
        <li>{{'txtli2'|translate}}</li>
        <li>{{'txtli3'|translate}}</li>
      </ul>
    </div>

    <div class="amnt-section">
      <div class="amnt">{{'niotoken'|translate}} : {{nio_amnt}} NIOs</div>
      <div class="address">{{'ethadd'|translate}} : {{autonio_token.username}}</div>
    </div>
    <button class="btn" (click)="checkPayment(autonio_token.username)">{{'ihav'|translate}}</button>
    <button class="btn red" (click)="logout()">{{'signout'|translate}}</button>
  </div>
</div>
