<div *ngIf="modal_open_backtest;" class="modal_overlay backtest_modal">
  <div class="modal">
    <div class="close_modal" (click)="ModalClose()">
      <i class="ion ion-close"></i>
    </div>
    <div class="modal_title">
      <h1>Backtest</h1>
    </div>
    <div class="modal_body custom_scroll" style="margin-top:0px;">
      <div id="chart"></div>
      <div class="result" style="display:none;">
        <div class="result_preloader">
          <img src="./assets/img/loader.gif" alt="">
        </div>
        <div class="section section_1">
          <div class="item" id="start_bal">
            <b>Start Balance : </b>
            <span class="amount">-</span>
          </div>
          <div class="item" id="end_bal">
            <b>End Balance : </b>
            <span class="amount">-</span>
          </div>
        </div>
        <div class="section section_2">
          <div class="item" id="profit_loss">
            <b>Profit/Loss : </b>
            <span class="amount">-</span>
          </div>
          <div class="item" id="profit_loss_buy_hold">
            <b>Profit/Loss over buy and hold : </b>
            <span class="amount">-</span>          
          </div>
        </div>
      </div>
      <div class="flex_body">
        <div class="left">
          <div class="frm_group data1">
            <label>
              Indicator Interval
            </label>
            <select name="ind_int" #indint (change)="IndIntChange(indint.value)" required>
              <option value="1" selected="selected">Minute</option>
              <option value="5">Minutes5</option>
              <option value="15">Minutes15</option>
              <option value="30">Minutes30</option>
              <option value="60">Hour</option>
              <option value="120">Hours2</option>
              <option value="240">Hours4</option>
              <option value="720">Hours12</option>
              <option value="1440">Day</option>
            </select>
          </div>
          <div class="frm_group data1">
            <label>Start Date</label>
            <div class="date-grp">
              <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="picker" placeholder="MM/DD/YYYY" name="startdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>
          <div class="frm_group data1">
            <label>End Date</label>
            <div class="date-grp">
              <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="picker2" placeholder="MM/DD/YYYY" name="enddate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="middle">
          <div class="frm_group data1">
            <label>Portfolio Percentage (%) ({{base}})</label>
            <input type="number" name="portfolio" value="100" min="0" max="100" required="required">
          </div>
          <div class="frm_group data1">
            <label>Exchange Fees (%)</label>
            <input type="number" name="fees" value="0.25" min="0" max="100" step="0.0001" required="required">
          </div>
        </div>
        <div class="right">
          <div class="frm_group checkbox_group">
            <div class="toggler">
              <input type="checkbox" id="inverser" name="inverser" (change)="InverseToggle()">
              <label class="toggle" for="inverser"></label>
            </div>
            <label for="inverser">Inverse Signal</label>
          </div>
          <div class="frm_group data1">
            <label>Start Balance ({{asset}}) :
            </label>
            <input type="number" name="asset" value="1" min="0" required="required">
          </div>
          <div class="frm_group data1">
            <label>Start Balance ({{base}}) :
            </label>
            <input type="number" name="base" value="500" min="0" required="required">
          </div>
        </div>
      </div>

      <div class="btn_group">
        <button class="btn green" (click)="Backtest()">Run Backtest</button>
        <button class="btn red" (click)="ModalClose()">Close</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="modal_open_buy;" class="modal_overlay backtest_modal">
  <div class="modal" style="max-width:700px;">
    <div class="close_modal" (click)="ModalClose()">
      <i class="ion ion-close"></i>
    </div>
    <div class="modal_title">
      <h1>Buy</h1>
    </div>
    <div class="modal_body custom_scroll" style="margin-top:20px;">
      <h4>Please send {{seller_amount}} NIO to below address from your regisetered Etherium Address and click "I Paid".</h4>
      <div class="price_box">
        <h3 style="margin-bottom:15px;">Address =>
          <b>{{seller_address}}</b>
        </h3>
        <h3>Amount =>
          <b>{{seller_amount}} NIO</b>
        </h3>
      </div>
      <div class="btn_group">
        <button class="btn green" (click)="CheckPayment()">I Paid</button>
        <button class="btn red" (click)="ModalClose()">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="advice" class="container-body" [ngStyle]="blurCss">
  <div class="page-title">
    <h1>Algorithm Marketplace</h1>
    <!-- <h5>Make more profit</h5> -->
  </div>
  <div class="navbar">
    <a (click)="router.navigateByUrl('/buying_settings')">Buying</a>
    /
    <a (click)="router.navigateByUrl('/selling_settings')">Selling</a>
  </div>
  <div class="page-body custom_scroll">
    <table>
      <thead>
        <tr>
          <th>Algo Name</th>
          <th>Exchange</th>
          <th>Pair</th>
          <th>Try Backtest</th>
          <th>Total Price</th>
          <th>Buy</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let algo of algos">
          <td>{{algo.name}}</td>
          <td>{{algo.exchange.toUpperCase()}}</td>
          <td>{{algo.pair}}</td>
          <td>
            <button class="btn" (click)="RunBacktest(algo.exchange,algo.pair,algo.settings)">Backtest</button>
          </td>
          <td>{{algo.price_usd}} USD</td>
          <td>
            <button class="btn" (click)="BuySettingsModal(algo.id, algo.username, algo.price_usd)">Buy Now</button>
          </td>
          <td>{{algo.time}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
